.buybutton {
    border-radius: 3px 3px 5px 5px;
    background-color: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    transition: none;
    cursor: pointer;
    padding: 25px 80px;
    margin: 15px 30px;
    letter-spacing: 1px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    border: none;
}

.buybutton:hover {
    transform:translate(0px, 2px);
    box-shadow: 0 4px #ab3c3c;
}

.buybutton:active {
    transform: translate(0px, 4px);
    box-shadow: none;
}
